.cards {
    display: flex;
    flex-direction: column;
    background-color:var(--bg-card);
    overflow: hidden;

    border:3px solid rgba(#111, 0.15);

    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;

    &.is-pinned {
        border:3px solid var(--tertiary-color);
        background-color:var(--is-pinned);

        .cards__button {
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            text-decoration: none;
    
            padding:0.45rem 1rem;
    
            border-radius: 30px;
            color:var(--heading-text);
            background-color:transparent;
    
            border:3px solid currentColor;
        }
    }

    &__pinned {
        padding:2rem 2rem 0 2rem;
    
        span {
            display: inline-flex;
            align-items: center;
            padding:0.45rem 0.85rem;
            border-radius: 50px;

            background-color:var(--bg-card);
            color:var(--body-text);

            &:before {
                content:'📌';
                margin-right: 0.5rem;
            }
        }
    }

    &__date {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        font-family: var(--heading-font);
        font-size:1.15rem;
        color:var(--heading-text);

        svg {
            margin-right: 0.5rem;
        }

        @media (max-width:60rem) {
            font-size:0.85rem;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        padding-bottom: 1.25rem;
        color:var(--heading-text);
        border-bottom: 2px solid var(--tertiary-color);

        > div {
            display: flex;
            align-items: center;

            img {
                width:45px;
                height: 45px;
                border-radius: 50%;
                margin-right: 1rem;
                border:5px solid rgba(#111, 0.25);
            }
    
            a {
                color:inherit;
                font-weight: bold;
            }

            ul {
                list-style:none;
                display: flex;
                align-items: center;

                li {
                    & + li {
                        margin-left: 1rem;
                    }
                }
            }
        }
        
        
    }

    &__photo {
        position: relative;
        height: 0;
        padding-bottom: 50%;
        background: linear-gradient(135deg, #FFF886 0%, #F072B6 100%);

        img {
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height: 100%;
            object-position: top;
            object-fit: cover;
        }
    }

    &__inner {
        flex-grow: 1;
        padding:1.5rem 2rem;

        h1, h2 {
            margin-bottom: 1rem;
            font-family: var(--heading-font);
        }
    }
    
    &__col--1 {
        grid-column: 1/-1;
        background-color: var(--bg-color);
        z-index: 2;
    }

    &__grid {
        display: grid;
        gap:2.5rem;

        &--is-two {
            grid-template-columns: repeat(2, 1fr);
        }

        &--is-three {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width:60rem) {
            grid-template-columns: 1fr;
        }

        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 0.5rem!important;
        }

        .grid {
            ul, ol {
                list-style-type: none;
                margin:0;
                padding:0;
            }

            a {
                color:inherit;
            }
        }
    }

    &__body {
        margin-bottom: 1.5rem;
        color:var(--body-text);

        a {
            color:var(--secondary-color);
            font-weight: bold;
        }

        blockquote {
            margin:1rem 0;
            padding:0 1rem;
            
            border-left: 1px solid var(--secondary-color);

            blockquote {
                border:0;
                padding:0;
                margin:0;
            }
        }

        p + p {
            margin-top: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1rem;
            font-family: var(--heading-font);
        }

        h1, h2 {
            font-size:1.65rem;
        }

        ul, ol {
            margin:1rem;
            padding:0;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;

        padding:0.45rem 1rem;

        border-radius: 30px;
        color:#fff;
        background-color:#111;

        border:3px solid #111;

        &.is--secondary {
            border-color:var(--secondary-color);
            color:var(--secondary-color);
            background-color:transparent;
        }
    }
}

.cta {
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: hidden;

    border-radius: 20px;

    &.is--primary {
        background-color:var(--bg-card);
        border:3px solid rgba(#111, 0.15);
    }

    &.is--discord {
        flex-direction: row;
        
        background: #7289DA;
       
        overflow: visible;
        border-radius: 0;
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;

        @media (max-width:60rem) {
            margin-top:2rem;
        }

        svg.discord {
            width: 100px;
            height: 100px;
            padding:3rem 0 0 1rem;
            fill:white;

            @media (max-width:60rem) {
                display: none;
            }
        }

        &::before {
            content:'';
            position: absolute;
            left:0;
            top:0;
            display: block;
            width:calc(100% + 20px);
            height: calc(100% + 20px);
            border: 15px dashed #7289DA;
            margin:-10px -10px -10px -10px;
        }
    }

    &.is--notice {
        display: grid;
        grid-template-columns: 5rem auto;
        gap:1.5rem;

        @media (max-width:45rem) {
            grid-template-columns: 1fr;
        }

        margin-bottom: 2.5rem;
        background-color:var(--notice);
        border:2px dashed var(--body-text);

        a {
            color:#fff;
        }

        svg.icon {
            width: 100px;
            height: 100px;
            padding:3rem 0 0 1rem;

            @media (max-width:60rem) {
                display: none;
            }
        }
    }

    &__inner {
        padding:1.5rem 2rem;
        z-index: 2;
    }

    &__title, &__subtitle {
        font-family: var(--heading-font);
        font-weight: 500;
        color:var(--heading-text);

        &.is--discord {
            color:white;
        }
    }

    &__body {
        color:var(--body-text);
        margin-top: 1rem;
        margin-bottom: 1.5rem;  
        
        &.is--discord {
            color:white;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;

        padding:0.45rem 1rem;

        border-radius: 30px;

        &--primary {
            color:#fff;
           
            color:#fff;
            background-color:#111;

            border:3px solid #111;
        }
        
        &--secondary {
            color:white;

            background-color:var(--secondary-color);
            border:3px solid var(--secondary-color);
        }

        &--disabled {
            pointer-events: none;
            opacity: 0.5;

            color:var(--bg-card);
        }
        
    }
}

.sticky {
    position: sticky;
    top:0;
}