.cards {
    display: flex;
    flex-direction: column;
    background-color:var(--bg-card);
    overflow: hidden;

    border:3px solid rgba(#111, 0.15);

    border-radius: 15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;

    &.is-pinned {
        border:3px solid var(--tertiary-color);
        background-color:var(--is-pinned);

        .cards__button {
            display: inline-flex;
            align-items: center;
            font-weight: bold;
            text-decoration: none;
    
            padding:0.45rem 1rem;
    
            border-radius: 30px;
            color:#111;
            background-color:transparent;
    
            border:3px solid currentColor;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        font-family: var(--heading-font);
        font-size:1.15rem;

        svg {
            margin-right: 0.5rem;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        padding-bottom: 1.25rem;
        border-bottom: 2px solid var(--tertiary-color);

        > div {
            display: flex;
            align-items: center;

            img {
                width:45px;
                height: 45px;
                border-radius: 50%;
                margin-right: 1rem;
                border:5px solid rgba(#111, 0.25);
            }
    
            a {
                color:inherit;
                font-weight: bold;
            }

            ul {
                list-style:none;
                display: flex;
                align-items: center;

                li {
                    & + li {
                        margin-left: 1rem;
                    }
                }
            }
        }
        
        
    }

    &__photo {
        position: relative;
        height: 0;
        padding-bottom: 50%;
        background: linear-gradient(135deg, #FFF886 0%, #F072B6 100%);
    }

    &__inner {
        flex-grow: 1;
        padding:1.5rem 2rem;

        h1, h2 {
            margin-bottom: 1rem;
            font-family: var(--heading-font);
        }
    }

    &__body {
        margin-bottom: 1.5rem;
        color:var(--body-text);

        a {
            color:var(--secondary-color);
            font-weight: bold;
        }

        blockquote {
            margin:1rem 0;
            padding:0 1rem;
            
            border-left: 1px solid var(--secondary-color);

            blockquote {
                border:0;
                padding:0;
                margin:0;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1rem;
            font-family: var(--heading-font);
        }

        ul, ol {
            margin:1rem;
            padding:0;
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;

        padding:0.45rem 1rem;

        border-radius: 30px;
        color:#fff;
        background-color:#111;

        border:3px solid #111;

        &.is--secondary {
            border-color:var(--secondary-color);
            color:var(--secondary-color);
            background-color:transparent;
        }
    }
}

.cta {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    border-radius: 20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;

    &.is--primary {
        background-color:var(--bg-card);
        border:3px solid rgba(#111, 0.15);
    }

    &.is--discord {

    }

    &.is--notice {

    }

    &__inner {
        padding:1.5rem 2rem;
    }

    &__title, &__subtitle {
        font-family: var(--heading-font);
        color:var(--heading-text);
    }

    &__body {
        color:var(--body-text);
        margin-top: 1rem;
        margin-bottom: 1.5rem;   
    }

    &__button {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;

        padding:0.45rem 1rem;

        border-radius: 30px;
        
        &--primary {
            color:#fff;
           
            color:#fff;
            background-color:#111;

            border:3px solid #111;
        }
        
        &--secondary {
            color:white;

            background-color:var(--secondary-color);
            border:3px solid var(--secondary-color);
        }
    }
}