body {
    min-height: 100vh;

    font-family: var(--body-font);
    background-color:var(--bg-color);

    &.blog {
      background: radial-gradient(circle at 100% 0%, #FFA800, transparent 30%), radial-gradient(circle at 80% 50%, #ff47d699, transparent 35%), radial-gradient(circle at 0% 100%, #c9f1ff, #c9f1ff, transparent 65%);
      background-attachment: fixed;
    }

    &.dark-theme.blog {
      background:var(--bg-color);
    }
}

@font-face {
  font-family: 'Argent Pixel CF';
  src: url('/fonts/ArgentPixelCF-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ArgentPixelCF-Regular.woff') format('woff');
  
   font-style: normal;
}

@font-face {
  font-family: 'Argent Pixel CF';
  src: url('/fonts/ArgentPixelCF-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/ArgentPixelCF-Italic.woff') format('woff');
  
   font-style: italic;
}

.skip-to-content-link {
  display: block;
  position: absolute;
  left:0;
  top:0;

  width: 100%;
  background: var(--secondary-color);
  color:var(--bg-card);
  padding:0.5rem 1rem;
  transform: translateY(-105%);
  transition: transform 0.3s;

  font-weight: bold;

  text-align: center;
  text-decoration: none;
  z-index: 9;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

.online {
  width:100%;
  padding:0.45rem 1rem;
  border-radius:6px;

  border:2px solid rgba(#111, 0.15);
}

.tns-carousel {
  display: flex !important;
  display: -ms-flexbox !important;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@media (min-width:60rem) {
  .tns-inner {
    margin:0 225px 0 0!important;
  }
}

.tns-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-bottom: 1.75rem;
  margin-right: 2.25rem;

  @media (max-width:60rem) {
    margin-right: 0;
  }

  > button {
    display: inline-flex;
    align-items: center;
    border:2px solid rgba(#111, 0.2);
    padding:0.35rem 1rem;

    background-color:var(--primary-color);

    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;

    @media (max-width:60rem) {
      span { display: none;}
    }

    svg {
      margin:0 0.25rem;
    }

    &[disabled] {
      opacity: 0.5;
      background-color:#ddd;
    }

    & + button {
      margin-left: 1.25rem;
    }
  }
}

::-moz-selection {
  color: currentColor;
  background: aliceblue;
}

::selection {
  color: currentColor;
  background: aliceblue;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color:#eee;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.is-transitioning {
  pointer-events: none;
  cursor: progress;
}

@media (min-width:60rem) {
  #my-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#my-scrollbar {
  overflow-x: hidden!important;
}

.wrapper {
  padding-bottom: 6rem;

  &__blog {
    @media (min-width:60rem) {
      padding:0 5rem;
    }

    &--inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:2rem;
    }

    .posts {
      background-color:var(--bg-card);
      overflow: hidden;
      border-radius: 15px;
      -moz-border-radisu:15px;

      border:3px solid rgba(#111, 0.2);

      & + .posts {
        margin-top: 4.5rem;
      }

      &--heading {
        margin-bottom: 3.75rem;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      .npf_row {
        display: flex;
        align-items: center;

        .tmblr-full {
          position:relative;
          margin:0;
          flex:1 1 0%;
          height: 0;
          padding-bottom:35%;

          img {
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height: 100%;
            object-position: center;
            border-radius: 0;
          }
        }
      }

      .tmblr-full {
        margin:1.35rem 0;
        img {
          border-radius:15px;
        }
      }

      &__body {
        padding:2.5rem 2.5rem;

        ol, ul {
          margin:1rem;
          padding:0;
        }

        h1, h2, h3, h4, h5 {
          margin: 1rem 0 1.38rem;
          font-weight: 400;
          line-height: 1.3;
        }

        p + p {
          margin-top: 1rem;
        }
        
        h1 {
          margin-top: 0;
          font-size: 1.828rem;
        }
        
        h2 {font-size: 1.44rem;}
        h3 {font-size: 1.2rem;}
        h4 {font-size: 1rem;}
        

        blockquote {
          font-size:1rem;
          font-family: var(--body-font);
          border-left: 1px solid var(--secondary-color);
        }
        
      }

      &__photo {
        position: relative;
        height: 0;
        padding-bottom: 75%;

        img {
          position: absolute;
          left:0;
          top:0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;

          border-radius: 13px 13px 0 0;
        }
      }
    }
  }

  &__commission {
    position: relative;
    padding-bottom: 5rem;

    &::before {
      content:'';
      position: absolute;
      left: 0;
      top:-80%;
      
      width:80vw;
      height: 80%;
      transform: translateX(-25%);
      filter: blur(100px);
     
      background: radial-gradient(circle at 100% 80%, #FFA800, transparent 10%), radial-gradient(circle at 80% 50%, #ff47d699, transparent 45%), radial-gradient(circle at 0% 100%, #c9f1ff, #c9f1ff, transparent 25%);
      z-index: -1;
      
    }

    ul {
      list-style: none;
      margin:1rem 2rem;
      padding:0;

      li {
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          left: -2rem;
          top: .5rem;
          width: .85rem;
          height: .78rem;
          background-color: var(--secondary-color);
          border-radius: 4px;
        }
      }
    }

    ol {
       li {
          display: inline-flex;
          align-items: center;
          position: relative;
          counter-increment: list;
          color:var(--body-text);
          margin-left: 0.5rem;

          & + li {
            margin-top: 1rem;
          }

          a {
            color:var(--heading-text);
          }

          &::before {
            content: counter(list, decimal-leading-zero);
            position: absolute;
            left: -3rem;
            top: -.15rem;
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-family: var(--code-font);
            font-weight: 900;
            font-size: 0.85rem;
            background-color: var(--heading-text);
            color: var(--bg-card);
            border-radius: 100%;
          }
        }
    }

    &--middle {
      margin-top:3.5rem;
      display: grid;
      grid-template-columns: 23rem 1fr;
      gap:4.5rem;

      @media (max-width:60rem) {
        grid-template-columns: 1fr;
        gap:2.5rem;
      }
    }

    &--sidebar {
      background-color:var(--accent-color);
      padding:2.5rem 2.5rem;
      border-radius:16px;
      border:3px solid var(--tertiary-color);

      .jump {
        margin-top: 1rem;

        display: inline-flex;
        align-items: center;

        color:var(--heading-text);
        
        svg {
          margin-left: 0.35rem;
          width: 16px;
          height: 16px;
        }
      }

      h2 {
        margin-bottom: 1rem;
      }

      a {
        display: inline-flex;
        align-items: center;
      }

      ol,ul {
        margin-left: 2.5rem;
        padding:0;
        list-style: none;

        ~ h2 {
          margin-top: 2rem;
        }

        li {
          a {
            text-decoration: none;
          }
        }
      }
    }

    &--content {
      .process {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border:1px solid rgba(#111, 0.25);
        

        @media (max-width:60rem) {
          grid-template-columns: 1fr 1fr;
        }

        margin:2.5rem 0 3rem 0;
        border-radius: 16px;
        overflow: hidden;

        .grid-process {
          padding:2rem 1.5rem;
          text-align: center;
          background-color:var(--bg-card);

          & + .grid-process {
            border-left: 1px solid rgba(#111, 0.25);
          }

          svg {
            margin-bottom: 1rem;
            stroke:var(--heading-text);
          }

          @media (max-width:60rem) {
            &:last-child {
              border-left: 0;
              border-top:1px solid rgba(#111, 0.25);;
              grid-column: 1/-1;
            }
          }
        }
      }

      article {
        .highlight-p {
          background-color:yellow;
          color:#111;
        }

        & + article {
          margin-top: 4.5rem;
        }
        h1 {
          font-size:1.75rem;
          color:var(--heading-text);
        }
        color:var(--body-text);
      }
    }
  }

  &__cta {
    position: relative;
    margin:0 auto;

    width: 100%;
    max-width: 75vw;

  }

  &__inner {
    position: relative;
    margin:6.5rem auto auto auto;

    width: 100%;
    max-width: 75vw;

    @media (max-width:60rem) {
      padding:0 1.5rem;
      max-width: 75rem;
    }

    h1 {
      margin-bottom: 1rem;
    }

    &--heading {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 1fr;
      gap:2.5rem;
      align-items: center;
      justify-items: end;

      margin-bottom: 1.5rem!important;
      color:var(--heading-text);

      @media (max-width:60rem) {
        grid-template-columns: 1fr;
        justify-items: start;
      }

      .sticker {
        -webkit-animation: action 2s infinite alternate;
        animation: action 2s infinite alternate;

        @media (max-width:60rem) {
        display: none;
         svg {
          transform: scale(0.65);
         }
        }
      }
    }

    > * + * {
      margin-bottom: 1rem;
    }

    h1, h2, h3 {
      font-family: var(--heading-font);
      color:var(--heading-text);
      font-weight: 500;
    }
    
    a {
      color:var(--secondary-color);
      font-weight: bold;
    }

    p.intro {
      font-size: 1.5rem;
      font-weight:600;
    }

    p:not([class]) {
      color:var(--body-text);
    }

    em {
      color:var(--secondary-color);
    }

    blockquote {
      font-size: 1.15rem;
      color:var(--heading-text);
      font-family: var(--heading-font);
      padding:0 1rem;
      border-left: 10px solid #ddd;
    }
   

  }

  &__grid {
    position: relative;
    max-width: 80vw;
    margin: 0 auto;
    padding:5rem 0 0rem 0;

    // padding-bottom: 6.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:3.5rem;

    @media (max-width:60rem) {
      grid-template-columns: 1fr;
      gap:1.5rem;
      padding:3rem 1rem;
      max-width: 75rem;
    }

    &.is-transparent {
      &::before {
        display: none;
      }
    }

    &::before {
      content:'';
      position: absolute;
      width: 100vw;
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
      filter: blur(100px);
     
      background: radial-gradient(circle at 100% 80%, #FFA800, transparent 30%), radial-gradient(circle at 80% 50%, #ff47d699, transparent 35%), radial-gradient(circle at 0% 100%, #c9f1ff, #c9f1ff, transparent 65%);
      z-index: -1;
      
    }

    h2 {
      font-size:1.75rem;
    }

    article {

      > * + * {
        margin-top: 1rem;
      }

      h2, h3 {
        font-size: 1.35rem;
        font-family: var(--body-font);
        font-weight: 600;
      }

      code {
        font-family: var(--code-font);
        font-size: 1rem;
        font-weight: 700;
        background-color: rgba(#111, 0.15);
      }

      ol, ul {
        margin:1rem 0;
        padding:0;
        list-style: none;
        color:var(--body-text);
      }

      ol li {
        position: relative;
        margin-left: 3rem;
        margin-bottom: 1rem;
        counter-increment: list;

        &::before {
          content: counter(list, decimal-leading-zero);
          position: absolute;
          left: -3rem;
          top: -.15rem;
          width: 2rem;
          height: 2rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-family: var(--code-font);
          font-weight: 900;
          font-size: 0.85rem;
          background-color: var(--secondary-color);
          color: var(--bg-card);
          border-radius: 100%;
        }
      }
    }
  }

  &__fill {
    padding:5rem 0rem;
    background: rgba(255, 210, 197, 0.3);

    .inner_form-fill {
      max-width: 80vw;
      margin:0 auto;

      @media (max-width:60rem) {
        max-width: 75rem;
      }
    }

    .inner_radio-btn, .inner_checkbox-btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .success {
      display: none;
      max-width: calc(80vw - 4rem);
      margin:2rem auto;

      font-size: 1.1rem;
      font-weight: 700;
      background-color: #A7F3D0;
      color:#065F46;
      padding: 20px;
      border-radius: 15px;

      @media (max-width:60rem) {
        max-width: 75rem;
      }
    }

    .alternative-form {
      padding: 0rem 2rem;
      font-family: var(--heading-font);
      font-weight: 900;
      font-size: 2.5rem;
      color: var(--heading-text);
      max-width: calc(80vw - 0rem);
      margin:2rem auto 0 auto;

      @media (max-width:60rem) {
        max-width: 75rem;
      }

      h5 {
        font-family: var(--body-font);
        font-size: 1.35rem;
        font-weight: 900;
        margin-top: 1.25rem;
      }

      a {
        color:currentColor;
      }
    }

    .grid-form {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;

      @media (max-width:60rem) {
        flex-direction: column;
      }

      .grid_inner-form {
        padding:2rem;

        button[type="submit"] {
          padding: 1.15rem 1.95rem;
          font-size: 1.05rem;
          font-weight: 700;
          background: #111;
          border: 2px solid #111;
          color: #fff;
          border-radius: 30px;

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        input[type="text"], input[type="email"], textarea, select {
          font-family: var(--body-font);
          font-size: 1rem;
          width: 100%;
          padding: 1rem 1.8rem;
          border-radius: 15px;
          border: 2px solid rgba(#111, 0.15);
        }

        input[type="checkbox"] {
          border: 0;
          clip: rect(1px 1px 1px 1px);
          clip: rect(1px,1px,1px,1px);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;

          &:checked + label {
            background-color: var(--secondary-color);
            color: var(--bg-card);
            font-weight: 700;

            &::before {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }

          & + label {
            display: inline-flex;
            align-items: center;
            padding: 0.65rem 1.5rem 0.75rem 1.5rem;
            margin: 0 1rem 1rem 0;
            border: 2px solid rgba(#111, 0.15);
            cursor: pointer;
            border-radius: 50px;
            transition:0.45s;
            background-color:var(--bg-card);
            color:var(--body-text);

            &:hover {
            -webkit-transform: scale(.95);
            transform: scale(.95);
           }

            &::before {
              display: inline-block;
              content: "+";
              margin-right: .5rem;
              font-size: 1.5rem;
            }
          }
        }

        input[type="radio"] {
          border: 0;
          clip: rect(1px 1px 1px 1px);
          clip: rect(1px,1px,1px,1px);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;

          &:checked + label {
            font-weight: 700;
            background-color: var(--secondary-color);
            color: var(--bg-card);
            

            &::before {
              content: "\2713";
              margin-right: 1rem;
            }
          }

          & + label {
            padding:0.85rem 1.25rem 0.85rem 1.25rem;
            margin: 0 1rem .75rem 0;
            background-color:var(--bg-card);
            color:var(--body-text);
            border: 2px solid rgba(#111, 0.15);
            cursor: pointer;
            border-radius: 50px;
          }
        }

        &:first-child {
          -webkit-box-flex: 35%;
          -ms-flex: 35%;
          flex: 35%;
          color:var(--body-text);

          @media (max-width:60rem) {
            padding:0rem 2rem;
          }
        }

        &:last-child {
          -webkit-box-flex: 65%;
          -ms-flex: 65%;
          flex: 65%;
        }
      }
    }
  }
}

#load_more_container {
  margin-top: 3.5rem;
  grid-column: 1/-1;

  > button {
    padding:1rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    text-align: center;
  }
}

@keyframes action {
 0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
}

.cursor {
  pointer-events: none;

  @media (max-width:60rem) {
    display: none;
  }
  
  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;

    circle {
      fill: rgba(#aaa, 0.35);
    }
  }      
} 

.form__inner {
  margin-top: 2.25rem;
  padding:0.35rem 0.45rem;

  border:3px solid rgba(#111, 0.15);
  border-radius: 50px;
  background:var(--bg-card);

  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    &[type="text"] {
      width: 100%;
      flex:1;
      background:var(--bg-card);
      color:var(--body-text);
      padding:0.25rem 0.85rem;
      border:0;
      border-radius: 50px;

      &:focus {
        outline-color: transparent;
        outline-width: 0;
        box-shadow: none;
      }
    }
  }

  button[type="submit"] {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width:40px;
    height: 40px;
    background-color:var(--secondary-color);
    color: var(--bg-card);
    border:0;

    padding:0.25rem;
    border-radius: 50%;
  }
}

form {
  width: 100%;
}

.inner_faqs-category {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:3.15rem;

  @media (max-width: 60rem) {
    grid-template-columns: repeat(1, 1fr);
    gap:1.75rem;
  }

  & > .grid-category {
    cursor: pointer;
    text-align: center;
    padding: 2.75rem 2rem;

    background-color: var(--bg-card);
    border:3px solid rgba(#111, 0.15);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    
    @media (max-width: 960px) {
      padding: 1.85rem 1.45rem;
    }

    svg {
      color: var(--heading-text);
    }

    h2 {
      font-weight: 400;
      font-size: 1.35rem;

      @media (max-width: 460px) {
        font-size: 0.9rem;
      }
    }
  }
}