.footer {
    margin:1rem auto auto auto;
    width: 100%;

    background-color:var(--bg-color);

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        padding:3.5rem 0;
        // max-width: 75vw;
        max-width: 75rem;
        margin:0 auto;
        
        @media (max-width:60rem) {
            grid-template-columns: 1fr;
            gap:2.5rem;
            padding:3.5rem 1.25rem 7.5rem 1.25rem;

            max-width: 75rem;
        }

        > .grid-footer {
            h2 {
                color: var(--heading-text);
                font-weight: 500;
                font-family: var(--heading-font);
                margin-bottom: .75rem;
            }

            p {
                color:var(--body-text);
            }

            .ko-fi-btn {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
                width: 100%;
                margin: 1.25rem 0;
                padding: 0.75rem 1.25rem;

                text-decoration: none;

                background-color: var(--secondary-color);
                color: var(--bg-card);
                border: 2px solid var(--secondary-color);
                font-weight: 700;
                font-size: 1.05rem;
                border-radius: 30px;
                -webkit-transition: .5s;
                transition: .5s;

                svg {
                    fill: currentColor;
                    margin-right: .5rem;
                }
            }

            ul:not(.links) {
                margin: 1rem 0;
                padding:0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-right: 0.75rem;
                    color:var(--heading-text);

                    &:not(:last-child)::after {
                        content: "/";
                        margin-left: .5rem;
                    }

                    a {
                        font-weight: bold;
                        color:var(--heading-text);
                        text-decoration: none;
                    }
                }
            }

            ul.links {
                margin: 1rem 0;
                padding:0;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                border-radius: 15px;

                list-style:none;

                li {
                    width: 50%;
                    flex-grow: 1;
                    position: relative;
                    border: 1.5px solid var(--bg-color);

                    a {
                        display: block;
                        padding: .75rem 1rem;
                        background-color: var(--footer-navigation-link);
                        font-weight: 700;
                        color: var(--heading-text);

                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.bottom {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 9;

    @media (min-width:60rem) {
        display: none;
    }

    &__more {
        height:0;
        opacity: 0;
        visibility: hidden;

        background:var(--bg-color);

        &--inner {
            padding:2.5rem 2rem;

            h3 {
                font-family: var(--code-font);
                font-size:0.99rem;
                border-bottom:1px solid #e7e7e7;

                color:var(--heading-text);

                padding-bottom: 1rem;
                margin-bottom: 1.5rem;

                & ~ ul {
                    margin-bottom:2.5rem;
                }
            }

            ul {
                list-style: none;
                margin:0;
                padding:0;

                li {
                    & + li {
                        margin-top: 0.75rem;
                    }
                    a {
                        width: 100%;
                        display: inline-flex;
                        align-items: center;

                        color:var(--header-navigation-link);
                        font-size: 1.05rem;
                        text-decoration: none;

                        img {
                            margin-right: 0.75rem;
                            height:24px;
                            border-radius:50%;
                        }
                    }
                }
            }
        }

        &.is-shown {
            height: calc(100vh - 65px);
            opacity: 1;
            visibility: visible;
        }
    }

    &__inner {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0;
        padding:0;
        background-color:var(--bg-color);
        border-top:1px solid rgba(#000, 0.15);

        li {
            flex:1 1 0%;
            &.more.is-active {
                a {
                    background-color:var(--secondary-color);
                    color:var(--bg-card);
                }
            }

            &.nav__menu--actived {
                &::before {
                    display: none;
                }
                a {
                    color:var(--secondary-color);
                }
            }
            a {
                width: 100%;
                color:var(--header-navigation-link);
                text-decoration: none;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding:1rem 1.25rem;

                svg {
                    margin-bottom: 0.25rem;
                }
            }
        }
    }
}