.nav {
    // position: absolute;
    width: 100%;
    // left:0;
    // top:0;

    padding:2.75rem 1rem;

    font-family: var(--heading-font);
    color:var(--header-navigation-link);

    // @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    //     -webkit-backdrop-filter: blur(8px);
    //     backdrop-filter: blur(8px);
    // }

    @media (max-width:60rem) {
        padding:0.5rem 1.5rem;
    }

    z-index: 999;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // max-width: 75vw;
        max-width: 75rem;
        margin:auto;

        @media (max-width:60rem) {
            max-width: 75rem;
        }
    }

    &__links {
        display: flex;
        align-items: center;
    }

    &__menu {
        position: relative;

        display: inline-flex;
        align-items: center;

        font-size:1.15rem;

        @media (max-width:60rem) {
            display: none;
        }

        & + * {
            margin-left: 1.75rem;
        }

        a {
            text-decoration: none;
            color:var(--header-navigation-link);
        }

        &--actived {
            &:before {
                content:"";
                position: absolute;
                left:0;
                top:-0.75rem;

                display: block;
                width: 65%;
                height:9px;

                background-color:var(--secondary-color);
                border-radius: 15px;
                -moz-border-radius:15px;
                -webkit-border-radius:15px;
            }
            
            a {
                color:var(--secondary-color);
                font-weight: bold;
            }
        }
    }
    
    .btn-dark > button {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width:45px;
        height: 45px;

        background: var(--button-switch);
        box-shadow: none;
        border:0;
        padding:0.85rem;
        border-radius: 50%;
        transition: 0.3s;

        &:focus {
            outline-width: 0;
            box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
        }

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
        }
    }
}