.homepage {
    position: relative;
    margin:6.5rem auto auto auto;

    width: 100%;
    max-width:80vw;
    padding-bottom: 6.5rem;

    @media (max-width:60rem) {
        padding:0 1rem;
        max-width: 75rem;
    }

    &__sticker {
        position: absolute;
        right:3.5rem;
        top:-4.25rem;

        @media (max-width:60rem) {
           right: 1rem;
           top:-1rem;
        }

        svg {
            width:150px;
            height: 150px;

            @media (max-width:60rem) {
                width: 80px;
                height: 80px;
            }

            -webkit-animation:spin 6s linear infinite;
            -moz-animation:spin 6s linear infinite;
            animation:spin 6s linear infinite;
        }
    }

    &__intro {
        color:var(--heading-text);

        h1 {
            margin-bottom: 1.35rem;
            font-weight: 500;
            font-family: var(--heading-font);

            span {
                position: relative;
                display: inline-flex;
                align-items: center;

                &::before {
                    content: '';
                    position: absolute;
                    left: -15px;
                    top: 0;
                    width: calc(100% + 30px);
                    height: 55px;
                    border-radius: 50%;
                    z-index: -1;
                    transform: rotate(15deg);
                    border: 4px solid var(--primary-color);
                   
                }
            }
        }

        em {
            font-weight: 600;
            color:var(--secondary-color);
        }

        p {
            font-size: 1.15rem;
            font-weight: 500;
        }

        p.created {
            margin-top: 1rem;
            font-size: 0.9rem;
            text-transform: uppercase;

            font-weight: 600;
        }
    }

    &__featured {
        position: relative;

        margin-top:3.5rem;
        margin-bottom: 3.5rem;
       
        padding:6.5rem 3.5rem;

        &::before {
            content:'';
            position: absolute;
            left:0;
            top:0;

            width: 100%;
            height: 100%;

            background: radial-gradient(circle at 100% 0%, #FFA800, transparent 30%), radial-gradient(circle at 70% 20%, #ff47d699, transparent 55%), radial-gradient(circle at 0% 70%, #c9f1ff, #c9f1ff, transparent 35%);

            border-radius: 15px;
            -moz-border-radius:15px;
            -webkit-border-radius:15px;
            z-index: -1;
        }

        @media (max-width:60rem) {
            padding:3.5rem 1.5rem;
        }

        &--desc {
            color:var(--heading-text);
            h2 {
                margin-bottom: 0.5rem;
                font-family: var(--heading-font);
                font-weight: 500;
            }

            width: 100%;
            max-width: 45rem;
        }

        &--slider {
            margin-top: 5rem;
            

            @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                -webkit-backdrop-filter: blur(8px);
                backdrop-filter: blur(8px);
            }

            background:rgba(white, 0.35);
            padding:3.5rem 0 3.5rem 3.75rem;

            border-radius: 15px 0 0 15px;
            -moz-border-radius:15px 0 0 15px;
            -webkit-border-radius:15px 0 0 15px;

            margin-right: -3.5rem;

            @media (max-width:60rem) {
                background:transparent;
                padding:1.5rem 0rem;
                margin:0;
            }
        }
    }

    &__card {
        height: auto;
		display: flex !important;
	    display: -ms-flexbox !important;
		flex-direction: column !important;

        &--inner {
            height:100%;
            
            background-color:var(--bg-card);
            overflow: hidden;

            border:3px solid rgba(#111, 0.25);

            border-radius: 15px;
            -moz-border-radius:15px;
            -webkit-border-radius:15px;
        }

        .body__caption {
            flex-grow: 1;
            padding:1.5rem 2rem;

            p {
                font-style: 0.95rem;
                color:var(--body-text);
            }
        }

        .body__heading, .body__categories {
            font-family: var(--heading-font);
            color:var(--heading-text);
        }

        .body__heading {
            margin-bottom: 1rem;
        }

        figure {
            position: relative;
            height: 0;
            padding-bottom: 60%;
            width: 100%;
            margin:0;
            background-color:var(--is-pinned);
            

            img {
                position: absolute;
                left:0;
                top:0;
                right: 0;
                bottom: 0;
                border-radius: 12px 12px 0 0;

                width:100%;
                height: 100%;

                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:3.5rem;

        @media (max-width:60rem) {
            grid-template-columns: 1fr;
            padding:0 0.5rem;
        }

        &--title {
            grid-column: 1/-1;
            color:var(--heading-text);

            h2 {
                font-size: 2rem;
                font-weight: 500;
                font-family: var(--heading-font);
            }

            span {
                font-size:1.15rem;
            }
        }

        &--more {
            justify-self: center;
            grid-column: 1/-1;
        }
    }

    &__cta {
        margin:3.5rem 0;

        > * + * {
            margin-top: 3rem;
        }
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }