:root {
    --heading-font:"Argent Pixel CF", monospace;
    --body-font:'Mulish', sans-serif;
    --code-font:'Oxygen Mono', monospace;

    --bg-color:#FFFFFF;
    --bg-card:#fff;

    --primary-color:#7FDEFF;
    --secondary-color:#FF47D6;
    --tertiary-color:"";


    --body-text:#333;

}